.first-entry .entry-header {
  background-image: linear-gradient(to right, #cb2e58, #470bd5, #9f4245);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header #menu span {
    font-weight: 460;
}

.logo a {
    font-size: 26px !important;
    font-weight: normal !important;
    background-image: linear-gradient(to right, #cb2e58, #b538eb, #9f4245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.first-entry {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    min-height: 20px !important;
}

.post-entry {
    margin-bottom: 18px !important;
}

.first-entry .entry-header h1 {
    font-size: 20px !important;
}

.first-entry .entry-content {
    margin: 0 0 14px 0 !important;
}

.entry-header h2 {
    font-size: 18px !important;
    font-weight: normal !important;
}

.entry-footer {
    display: flex;
}

.entry-footer .flex-item {
    margin: 2px 0 0 2px;
}

.entry-footer img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.footer-summary {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 16px
}

.footer-summary .flex-item {
    margin-right: 4px;
}

.footer-summary .flex-item p {
    display: inline;
}

.post-content h3 {
    font-size: 20px !important;
}

.post-content img {
    margin: 0 0 !important;
}

.post-content dl, .post-content ol, .post-content p, .post-content figure, .post-content ul {
    margin-bottom: 12px !important;
}

.footer, .top-link {
    font-size: 14px !important;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog-entry {
    position: relative;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    width: 100%;
    margin-bottom: 18px;
}

.blog-entry .icon-and-title {
    display: flex;
    align-items: center;
}

.blog-entry .icon-and-title .flex-item {
    margin-right: 6px;
}

.blog-entry .icon-and-title .flex-item h2 {
    font-size: 18px !important;
    font-weight: normal !important;
}

.blog-entry .description {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    line-height: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background-color: var(--code-bg);
    padding: 0.2rem 0.2rem;
    display: -webkit-box;
    border-radius: calc(0.4rem);
}

.blog-entry .summary {
    margin-top: 8px;
    display: flex;
}

.blog-entry .summary .flex-item.left {
    width: 30%;
}

.blog-entry .summary .flex-item.center {
    width: 30%;
}

.blog-entry .summary .flex-item.right {
    width: 40%;
}

.blog-entry .summary .flex-item {
    width: 33.33%;
    margin: 2px 0 0 2px;
    font-size: 14px;
}

.blog-entry .summary .flex-item h5 {
    color: darkgray;
    font-size: 14px;
}

.blog-entry .latest-posts {
    margin-top: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-entry .latest-posts p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.blog-entry .latest-posts h5 {
    color: darkgray;
    font-size: 14px;
}

@media (min-width: 800px) {
    .blog-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog-entry {
        width: 49%;
    }
}

div#searchbox {
    margin-bottom: 28px;
}

#searchbox input {
    font-weight: normal !important;
}

.post-single {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
}

.post-header {
    margin: 0 0 12px 0 !important;
}

.post-title {
    font-size: 20px !important;
    font-weight: normal;
    margin-bottom: 16px !important;
}

.post-publish-date {
    font-size: 14px;
    color: var(--secondary);
}

.post-content {
    font-size: 16px;
}

.post-content h4 {
    font-size: 16px;
    margin: 12px 0 12px 0 !important;
}