.first-entry .entry-header {
  background-image: linear-gradient(to right, #cb2e58, #470bd5, #9f4245);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 22px !important;
    font-weight: 480 !important;
}

h2 {
    font-size: 20px !important;
    font-weight: 480 !important;
}

h3 {
    font-size: 18px !important;
    font-weight: 480 !important;
}

h4 {
    font-size: 16px !important;
    font-weight: 480 !important;
}

.header {
    margin-top: 10px;
    margin-bottom: 10px;
}

.header .nav {
    line-height: normal !important;
}

.header #menu span {
    font-weight: 480 !important;
}

.header #menu a {
    font-size: 16px !important;
}

.logo a {
    font-size: 26px !important;
    font-weight: normal !important;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #cb2e58, #b538eb, #9f4245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.dark .logo a {
    background-image: linear-gradient(to right, #cb2e58, #b538eb, #9f4245);
}

.first-entry {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    min-height: 20px !important;
}

.post-entry {
    margin-bottom: 18px !important;
}

.post-entry .entry-header {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.first-entry .entry-content {
    margin: 0 0 14px 0 !important;
}

.entry-footer {
    display: flex;
}

.entry-footer .flex-item {
    margin: 2px 0 0 2px;
}

.entry-footer img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.footer-block {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding-top: var(--gap)/2;
    font-size: 16px;
    text-align: center;
    padding-left: var(--gap);
    padding-right: var(--gap);
}

.footer-block .footer-summary {
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
}

.footer-block .footer-contact {
    margin-bottom: 10px;
}

.footer-block .footer-summary .flex-item {
    margin-left: 6px;
    margin-right: 6px;
}

.footer-block .footer-summary .flex-item p {
    display: inline;
}

.footer-block .footer-summary .flex-item a {
    background-image: linear-gradient(to right, #cb2e58, #b538eb, #9f4245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-block .planet-shuttle {
    margin-bottom: 10px;
    /*font-size: 14px;*/
}

.footer-block .cloud-promotion {
    width: 70px;
    margin: 0 auto;
}

.post-content img {
    margin: 0 auto !important;
}

.post-content p {
    text-indent: 0em !important;
}

.post-content pre code {
    color: var(--primary) !important;
    text-wrap: wrap !important;
}

.post-content code {
    font-size: inherit !important;
}

.post-content dl, .post-content ol, .post-content p, .post-content figure, .post-content ul {
    margin-bottom: 12px !important;
}

.footer, .top-link {
    font-size: 14px !important;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.blog-entry {
    position: relative;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    width: 100%;
    margin-bottom: 18px;
}

.blog-entry .icon-and-title {
    display: flex;
    align-items: center;
}

.blog-entry .icon-and-title .flex-item {
    margin-right: 6px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.blog-entry .domain {
    font-size: 14px;
    margin-top: 8px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
}

.blog-entry .domain .flex-item {
    color: var(--secondary);
}

.blog-entry .domain a {
    color: var(--primary)
}

.blog-entry .description {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    line-height: 1.5rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background-color: var(--code-bg);
    padding: 0.3rem 0.3rem;
    display: -webkit-box;
    border-radius: calc(0.4rem);
}

/*
.blog-entry .description:hover {
   overflow: visible;
   display: block;
}
*/

.blog-entry .summary {
    margin-top: 8px;
    display: flex;
}

.blog-entry .summary .flex-item.left {
    width: 30%;
}

.blog-entry .summary .flex-item.center {
    width: 30%;
}

.blog-entry .summary .flex-item.right {
    width: 40%;
}

.blog-entry .summary .flex-item {
    width: 33.33%;
    margin: 2px 0 0 2px;
    font-size: 14px;
}

.blog-entry .summary .flex-item h5 {
    color: darkgray;
    font-size: 14px;
}

.blog-entry .latest-posts {
    margin-top: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-entry .latest-posts p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.blog-entry .latest-posts h5 {
    color: darkgray;
    font-size: 14px;
}

.blog-entry .submitted-info {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: var(--secondary);
}

.blog-entry .submitted-info img {
    margin-right: 2px;
    width: 14px;
    display: block;
}

@media (min-width: 800px) {
    .blog-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .blog-entry {
        width: 49%;
    }

    .footer-block .footer-summary {
        flex-direction: row;
    }
}

div#searchbox {
    margin-bottom: 28px;
}

#searchbox input {
    font-weight: normal !important;
}

.post-single {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
}

.post-header {
    margin: 0 0 12px 0 !important;
}

.post-title {
    margin-bottom: 8px !important;
}

.post-publish-date {
    font-size: 14px;
    color: var(--secondary);
}

.post-publish-date a {
    margin-left: 4px;
}

.post-content {
    font-size: 16px;
}

.post-content h4 {
    margin: 12px 0 12px 0 !important;
}

.post-content img {
    border-radius: 4px;
    margin: 1rem 0;
    border: 1px solid var(--border);
}

:root {
  --s: 6;
  --h: 36;
  --speed: 3s;
}

.latest-news {
  margin-bottom: 26px;
  height: calc(var(--h) * 1px);
  line-height: calc(var(--h) * 1px);
  background: var(--border);
  border-radius: var(--radius);
  border: 1px solid var(--tertiary);
  overflow: hidden;
  display: flex;
}

.latest-news .icon {
    width: 22px;
    margin-left: 4px;
    display: flex;
    align-items: center;
}

.latest-news .content {
    font-size: 14px;
    color: #000;
    overflow: hidden;
}

.latest-news .content li {
    list-style:none;
}

.latest-news .content ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.latest-news .content ul li {
    flex-shrink: 0;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #cb2e58, #b538eb, #9f4245);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-backface-visibility: hidden;
}

.latest-news .content ul {
    animation: move calc(var(--speed) * var(--s)) steps(var(--s)) infinite;
}

.latest-news .content ul li {
    white-space: nowrap;
    cursor: pointer;
    animation: liMove calc(var(--speed)) infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, calc(var(--s) * var(--h) * -1px));
  }
}

@keyframes liMove {
  0% {
    transform: translate(0, 0);
  }
  80%,
  100%  {
    transform: translate(0, calc(var(--h) * -1px));
  }
}

.blog-detail-main {
    display: flex;
    flex-direction: column;
    transition: transform .1s;
    border: 1px solid var(--border);
    background-image: url(/assets/images/sites/blog_detail/blog-detail-header-background.jpeg);
    padding: calc(var(--gap)/2) var(--gap) calc(var(--gap)) var(--gap);
    border-radius: var(--radius);
    margin-bottom: calc(var(--gap)/2);
}

.blog-detail-main .submitted-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
    color: var(--secondary);
}

.blog-detail-main .submitted-info img {
    margin-right: 2px;
    width: 14px;
    display: block;
}

.blog-detail-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark .blog-detail-main {
    background-image: url(/assets/images/sites/blog_detail/blog-detail-header-background-dark.jpeg);
}

.blog-detail-header .icon img {
    width: 80px;
}

.blog-detail-header .title {
    margin-top: 10px;
}

.blog-detail-header .domain {
    margin-top: 8px;
    font-size: 16px;
}

.blog-detail-header .description {
    margin-top: 8px;
    font-size: 14px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    background-color: var(--code-bg);
    padding: 0.3rem 0.3rem;
    display: -webkit-box;
    border-radius: calc(0.4rem);
}

.blog-detail-summary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    background: var(--entry);
    margin-bottom: calc(var(--gap)/2);
}

.blog-detail-summary .flex-item {
    font-size: 16px;
}

.blog-detail-charts {
    padding: var(--gap);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    background: var(--entry);
    margin-bottom: calc(var(--gap)/2);
}

.blog-detail-charts .charts-title {
    margin-bottom: 16px;
}

.blog-detail-articles {
    padding: var(--gap);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    background: var(--entry);
    margin-bottom: var(--gap);
}

.blog-detail-articles .articles-container {
    margin-top: 16px;
    font-size: 16px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

tr:nth-child(even) {
    background-color: var(--code-bg);
}

.blog-detail-articles .articles-container td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.blog-requests {
    padding: var(--gap);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    background: var(--entry);
    margin-bottom: var(--gap);
}


.blog-requests .requests-container {
    font-size: 16px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-requests span {
    color: var(--primary);
    font-weight: bold;
}

.blog-requests .requests-header {
    margin-bottom: 20px;
}

.blog-requests .requests-form-container .key-value-entry {
    margin-bottom: 6px;
}

.blog-requests .requests-form-container .key-value-entry .field {
    padding: 2px 4px 2px 4px;
    border: 2px solid var(--border);
}

.blog-requests .requests-form-container .key-value-entry .label {
    display: flex;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;
}

.blog-requests .requests-form-container .key-value-entry .field {
    font-size: 16px;
    color: var(--secondary);
}

.blog-requests .requests-form-container .key-value-entry input {
    width: 100%;
}

.blog-requests .requests-form-container .key-value-entry textarea {
    width: 100%;
}

.blog-requests .requests-form-container .key-value-entry input[type="submit"] {
    margin-top: 10px;
    font-size: 16px;
    width: 80px !important;
    color: var(--theme);
    line-height: 30px;
    background: var(--primary);
    border-radius: 16px;
    padding: 0 16px;
}
