.first-entry .entry-header {
  background-image: linear-gradient(to right, #cb2e58, #470bd5, #9f4245);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo a {
    font-size: 26px !important;
}

.first-entry {
    margin: 10px !important;
    min-height: 20px !important;
}

.first-entry .entry-header h1 {
    font-size: 20px !important;
}

.entry-header h2 {
    font-size: 18px !important;
}

.entry-footer {
    display: flex;
}

.entry-footer .flex-item {
    margin: 2px 0 0 2px;
}

.entry-footer img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.footer-summary {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 16px
}

.footer-summary p {
    margin-right: 8px;
}