.first-entry .entry-header {
  background-image: linear-gradient(to right, #cb2e58, #470bd5, #9f4245);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo a {
    font-size: 26px !important;
}

.first-entry {
    margin: 10px !important;
    min-height: 20px !important;
}

.first-entry .entry-header h1 {
    font-size: 20px !important;
}

.entry-header h2 {
    font-size: 18px !important;
}

.entry-footer {
    display: flex;
}

.entry-footer .flex-item {
    margin: 2px 0 0 2px;
}

.entry-footer img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
}

.footer-summary {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
    font-size: 16px
}

.footer-summary .flex-item {
    margin-right: 4px;
}

.footer-summary .flex-item p {
    display: inline;
}

.post-title {
    font-size: 22px !important;
}

.post-content h3 {
    font-size: 20px !important;
}

.post-content img {
    margin: 0 0 !important;
}

.post-content dl, .post-content ol, .post-content p, .post-content figure, .post-content ul {
    margin-bottom: 12px !important;
}

.footer, .top-link {
    font-size: 14px !important;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
}

.blog-entry {
    position: relative;
    margin: 0.5%;
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
    width: 49%;
}

.blog-entry .icon-and-title {
    display: flex;
    align-items: center;
}

.blog-entry .icon-and-title .flex-item {
    margin-right: 6px;
}

.blog-entry .icon-and-title .flex-item h2 {
    font-size: 18px !important;
}

.blog-entry .description {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.blog-entry .summary {
    margin-top: 8px;
    display: flex;
}

.blog-entry .summary .flex-item.left {
    width: 30%;
}

.blog-entry .summary .flex-item.center {
    width: 30%;
}

.blog-entry .summary .flex-item.right {
    width: 40%;
}

.blog-entry .summary .flex-item {
    width: 33.33%;
    margin: 2px 0 0 2px;
    font-size: 14px;
}

.blog-entry .summary .flex-item h5 {
    color: darkgray;
    font-size: 14px;
}

.blog-entry .latest-posts {
    margin-top: 8px;
    font-size: 14px;
    color: var(--secondary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.blog-entry .latest-posts p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.blog-entry .latest-posts h5 {
    color: darkgray;
    font-size: 14px;
}
