<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('赞助本站 - 博友圈 · 博客人的朋友圈！', '赞助本站', '赞助本站，以使得本站能更好的运营下去。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h1 class="post-title">
            赞助本站
        </h1>
        <div class="post-publish-date">
            <p>2023年7月10日</p>
        </div>
    </header>
    <article class="post-single">
        <div class="post-content">
            <p>感谢诸君点开此页，开设这个页面实属不得已为之！</p>
            <p>博友圈是一个非营利性的、专注于中文独立博客圈的小众网站。为了保持网站良好的使用体验，运营至今，仍未植入诸如「Google AD」等广告，网站的运营成本仍完全由站长「<a href="https://leileiluoluo.com">磊磊落落</a>」个人在承担。</p>
            <p>博友圈网站的运营成本主要是在服务器购买、数据库购买和域名续费上，一年下来，开销还不小（有近 1000 元）。站长是一个靠写代码为生的人，个人境况虽不至于「衣不遮体、食不果腹」，但日子过得着实不算富裕，甚至还有一些拮据，对于这些开销还是比较吃力的。</p>
            <p>若您觉得这个网站还不错，想支持本站更长远的走下去，欢迎您赞助一杯茶水钱，我将对您不胜感激！</p>
            <p>微信收款码：</p>
            <div style="display: block; margin: 0 auto; width: 50%;"><img border="1" th:src="@{/assets/images/sites/sponsor/wechat_collect_qrcode.png}"></div>
        </div>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/contact::contact}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>