<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('博客审核 - 管理页面 - 博友圈 · 博客人的朋友圈！', '博客收录申请', '博客收录申请。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h3 class="post-title" style="color: red;">
            博客审核 - 管理页面
        </h3>
    </header>
    <div class="blog-requests">
        <div class="requests-header">
            <h4 style="color: red;"><a href="/admin/blog-requests/add">提交博客 - 管理页面</a></h4>
            <h4 style="color: red;"><a href="/admin/recommended-posts">推荐文章管理 - 管理页面</a></h4>
            <div style="display: flex; font-size: 14px;">
                <p th:text="${user.username}"></p>
                <p><a href="/admin/logout"> 退出登录</a></p>
            </div>
        </div>
        <div id="searchbox">
            <input id="searchInput" autofocus="" placeholder="搜索博客申请 ↵" aria-label="search" type="search" autocomplete="off">
        </div>
        <div class="requests-container">
            <table>
                <thead>
                <tr>
                    <td><span>博客名称</span></td>
                    <td><span>博主邮箱</span></td>
                    <td><span>自行提交</span></td>
                    <td><span>提交时间</span></td>
                    <td><span>状态</span></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blogRequestInfo, iterstat: ${pagination.results}">
                    <td>
                        <p><a th:href="'/admin/blog-requests/' + ${blogRequestInfo.id}"
                              th:text="${blogRequestInfo.name}"></a></p>
                    </td>

                    <td><p th:text="${blogRequestInfo.adminEmail}"></p></td>
                    <td><p th:text="${blogRequestInfo.selfSubmitted}"></p></td>
                    <td>
                        <p th:text="${@thymeLeafTemplateHelper.dateHourCommonFormatDisplay(blogRequestInfo.requestedAt)}"></p>
                    </td>
                    <td><p th:text="${blogRequestInfo.status}"></p></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="page-footer blog-footer">
        <!-- if hasKeyword -->
        <nav th:if="${hasKeyword}" class="pagination">
            <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/admin/blog-requests/page/' + ${pagination.pageNo - 1} + '?keyword=' + ${keyword}">« 上一页</a>
            <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/admin/blog-requests/page/' + ${pagination.pageNo + 1} + '?keyword=' + ${keyword}">下一页 »</a>
        </nav>

        <!-- else -->
        <nav th:unless="${hasKeyword}" class="pagination">
            <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/admin/blog-requests/page/' + ${pagination.pageNo - 1}">« 上一页</a>
            <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/admin/blog-requests/page/' + ${pagination.pageNo + 1}">下一页 »</a>
        </nav>
    </footer>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/admin-blog-request-search.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/websocket/stompjs@7.0.0/stomp.umd.min.js}"></script>
<script th:src="@{/assets/js/websocket/websocket.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>