<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('提交博客 - 博友圈 · 博客人的朋友圈！', '提交博客', '提交博客。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <article class="first-entry home-info">
        <div class="entry-content">
            <p></p>
            <ul>
                <li>
                    <strong>欢迎在这里提交您的博客，提交前请先仔细阅读「<a href="/about#submit-blog">博客需满足的要求</a>」，以减少被驳回的可能。确认满足要求后，请使用下方表单提交，一般在24小时之内会得到审核！</strong>
                </li>
            </ul>
            <p></p>
        </div>
    </article>
    <header class="post-header">
        <h3 class="post-title">
            提交博客
        </h3>
    </header>
    <div class="blog-requests">
        <form th:action="@{/blog-requests/add}" th:object="${blogRequestForm}" method="post">
            <div class="requests-form-container">
                <div class="key-value-entry">
                    <div class="label">
                        <p>博客名称 *</p> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
                    </div>
                    <div class="field">
                        <input name="name" th:field="*{name}" />
                    </div>
                </div>
                <div class="key-value-entry">
                    <div class="label">
                        <p>RSS地址 *</p> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('rssAddress')}" th:errors="*{rssAddress}" />
                    </div>
                    <div class="field">
                        <input name="rssAddress" th:field="*{rssAddress}" />
                    </div>
                </div>
                <div class="key-value-entry">
                    <div class="label">
                        <p>博主邮箱 *</p> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('adminEmail')}" th:errors="*{adminEmail}" />
                    </div>
                    <div class="field">
                        <input name="adminEmail" th:field="*{adminEmail}" />
                    </div>
                </div>
                <div class="key-value-entry">
                    <div class="label">
                        <p>博客描述 *</p> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" />
                    </div>
                    <div class="field">
                        <textarea name="description" th:field="*{description}"/>
                    </div>
                </div>

                <div class="key-value-entry">
                    <input type="submit" value="提交"/>
                </div>

                <!-- need help? -->
                <div style="margin-top: 18px; font-size: 12px;">
                    <p><a style="color: blue" href="mailto:contact@boyouquan.com?subject=提交博客时遇到了问题&amp;body=RSS地址：%0d%0a问题描述：%0d%0a">提交遇到问题？我要联系站长！</a></p>
                </div>
            </div>
        </form>
    </div>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/contact::contact}"></div>
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>