<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('博客审核结果 - 博友圈 · 博客人的朋友圈！', '博客收录申请', '博客收录申请。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <article th:replace="~{fragments/header/header_info::header_info('这里会列出所有已提交的博客与审核结果，如果您的博客很遗憾被驳回了，请按照错误提示修改后重新提交！')}"></article>
    <header class="post-header">
        <h3 class="post-title">
            博客审核结果
        </h3>
    </header>
    <div class="blog-requests">
        <div class="requests-container">
            <table style="display: table; table-layout: fixed;">
                <thead>
                <tr>
                    <td width="35%"><span>博客名称</span></td>
                    <td width="35%"><span>博主邮箱</span></td>
                    <td width="20%"><span>提交时间</span></td>
                    <td width="10%"><span>审核状态</span></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="blogRequestInfo, iterstat: ${blogRequestInfos}">
                    <td width="35%">
                        <p><a th:href="'/blog-requests/' + ${blogRequestInfo.id}" th:text="${blogRequestInfo.name}"></a></p>
                    </td>

                    <td width="35%"><p th:text="${blogRequestInfo.adminEmail}"></p></td>
                    <td width="20%"><p th:text="${@thymeLeafTemplateHelper.dateHourCommonFormatDisplay(blogRequestInfo.requestedAt)}"></p></td>
                    <td width="10%">
                        <p th:if="${blogRequestInfo.approved}"><a th:text="${blogRequestInfo.statusInfo}" th:href="'/blogs/' + ${blogRequestInfo.domainName}"></a></p>
                        <p th:unless="${blogRequestInfo.approved}" th:text="${blogRequestInfo.statusInfo}"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/contact::contact}"></div>
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>