<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head(${blogInfo.name} + ' - 博友圈 · 博客人的朋友圈！', ${blogInfo.name}, '「' + ${blogInfo.name} + '」：' + ${blogInfo.description})}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/charts/frappe-charts@1.6.2.min.umd.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <div class="blog-detail-main" th:style="${blogInfo.sunset ? 'filter: grayscale(100%);' : ''}">
        <header class="header-info">
            <div class="status-info" th:if="${blogInfo.sunset}">
                <div style="background-color: #0dcb0d;" class="status-icon"></div>
                <p th:text="已经陨落"></p>
                <span class="tooltiptext">该博客已经彻底陨落</span>
            </div>
            <div class="status-info" th:if="${!blogInfo.sunset and blogInfo.statusOk}">
                <div style="background-color: #0dcb0d;" class="status-icon"></div>
                <p th:text="运行良好"></p>
                <span class="tooltiptext">该博客运行状态良好</span>
            </div>
            <div class="status-info" th:if="${!blogInfo.sunset and !blogInfo.statusOk}">
                <div style="background-color: red;" class="status-icon"></div>
                <p th:text="无法访问"></p>
                <span class="tooltiptext">该博客目前无法访问</span>
            </div>

            <div class="submitted-info">
                <img th:src="@{/assets/images/sites/blog_detail/info-icon.png}">
                <p th:text="${blogInfo.submittedInfo}"></p>
                <span th:text="${blogInfo.submittedInfoTip}" class="tooltiptext"></span>
            </div>
        </header>

        <header th:unless="${blogInfo.statusOk}" class="blog-can-not-access-tip">
            <strong th:text="${blogInfo.statusUnOkInfo}"></strong>
        </header>

        <header class="blog-detail-header">
            <div class="icon">
                <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}" target="_blank">
                    <img th:src="${blogInfo.blogAdminLargeImageURL}"/>
                </a>
            </div>
            <div class="title">
                <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}" target="_blank"><h3
                        th:text="${blogInfo.name}"></h3></a>
            </div>
            <div class="domain">
                <a th:text="${blogInfo.domainName}"
                   th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}" target="_blank"></a>
                <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}" target="_blank">
                    <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2.5" viewBox="0 0 24 24" height="12" width="12">
                        <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                        <path d="M15 3h6v6"></path>
                        <path d="M10 14L21 3"></path>
                    </svg>
                </a>
            </div>
            <div class="description">
                <p th:text="${blogInfo.description}"></p>
            </div>
        </header>

        <footer class="footer-info">
            <div class="reserved"></div>
            <div class="location-info" th:if="${blogInfo.blogServerLocation != null}">
                <img th:src="@{/assets/images/sites/blog_detail/location-icon.png}">
                <p th:text="${blogInfo.blogServerLocation}"></p>
                <span th:text="'该博客服务器位于：' + ${blogInfo.blogServerLocation}" class="tooltiptext"></span>
            </div>
        </footer>
    </div>

    <footer class="blog-detail-summary">
        <div class="flex-item one">
            <p style="font-size: 16px; color: var(--secondary);">文章收录</p>
            <p th:text="${blogInfo.postCount}"></p>
        </div>
        <div class="flex-item two">
            <p style="font-size: 16px; color: var(--secondary);">文章浏览</p>
            <p th:text="${blogInfo.accessCount}"></p>
        </div>
        <div class="flex-item three">
            <p style="font-size: 16px; color: var(--secondary);">最近更新</p>
            <p th:text="${@thymeLeafTemplateHelper.dateFriendlyDisplay(blogInfo.latestPublishedAt)}"></p>
        </div>
        <div class="flex-item four">
            <p style="font-size: 16px; color: var(--secondary);">收录时间</p>
            <p th:text="${@thymeLeafTemplateHelper.dateCommonFormatDisplay(blogInfo.collectedAt)}"></p>
        </div>
    </footer>

    <div class="blog-detail-charts" th:style="${blogInfo.sunset ? 'filter: grayscale(100%);' : ''}">
        <div class="charts-title">
            <h4>数据统计</h4>
        </div>
        <div id="access-charts"></div>
        <div th:if="${showLatestPublishedAtChart}" id="publish-charts"></div>
        <div th:if="${showLatestInitiatedChart}" id="initiated-charts"></div>
    </div>

    <div class="blog-detail-articles">
        <div class="articles-title">
            <h4>收录文章</h4>
        </div>
        <div class="articles-container">
            <table style="display: table; table-layout: fixed;">
                <tbody>
                <tr th:each="post, iterstat: ${blogInfo.posts}">
                    <td style="width: 20%">
                        <text style="margin-right: 6px;"
                              th:text="${@thymeLeafTemplateHelper.dateCommonFormatDisplay(post.publishedAt)}"></text>
                    </td>

                    <td style="width: 80%">
                        <!-- blog status ok? -->
                        <a th:if="${blogInfo.statusOk}" th:text="${post.title}"
                           th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(post.link)}" target="_blank"></a>
                        <!-- blog status un ok? -->
                        <a th:unless="${blogInfo.statusOk}" th:text="${post.title}"
                           th:href="'/abstract?link=' + ${@thymeLeafTemplateHelper.urlEncode(post.link)}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="articles-footer" th:if="${blogInfo.postCount >= 100}">
            <p>* 仅显示最新100篇文章</p>
        </div>
    </div>

    <div class="blog-detail-random-blogs">
        <div class="blogs-title">
            <h4>随机链接</h4>
        </div>
        <div class="blogs-container">
            <div class="blog-entry" th:each="blogInfo, iterstat: ${randomBlogInfos}">
                <header class="blog-entry-header">
                    <div class="blogger-icon">
                        <a th:href="'/blogs/' + ${blogInfo.domainName}">
                            <img th:src="${blogInfo.blogAdminLargeImageURL}"/>
                        </a>
                    </div>
                    <div class="blogger-basic">
                        <div class="icon-and-title">
                            <div class="flex-item">
                                <a th:href="'/blogs/' + ${blogInfo.domainName}"><h4 th:text="${blogInfo.name}"></h4></a>
                            </div>
                        </div>
                        <div class="domain">
                            <div class="flex-item-left">
                                <div class="domain-name">
                                    <a th:text="${blogInfo.domainName}"
                                       th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}"></a>
                                </div>
                                <div class="link">
                                    <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}">
                                        <svg fill="none" shape-rendering="geometricPrecision" stroke="currentColor"
                                             stroke-linecap="round" stroke-linejoin="round" stroke-width="2.5"
                                             viewBox="0 0 24 24" height="12" width="12">
                                            <path d="M18 13v6a2 2 0 01-2 2H5a2 2 0 01-2-2V8a2 2 0 012-2h6"></path>
                                            <path d="M15 3h6v6"></path>
                                            <path d="M10 14L21 3"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="description">
                    <p th:text="${blogInfo.description}"></p>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/websocket/stompjs@7.0.0/stomp.umd.min.js}"></script>
<script th:src="@{/assets/js/websocket/websocket.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    let accessChart = new frappe.Chart( "#access-charts", { // or DOM element
        data: {
            labels: /*[[${yearlyAccessDataLabels}]]*/ 'default',

            datasets: [
              {
                name: "次浏览", chartType: 'line',
                values: /*[[${yearlyAccessDataValues}]]*/ 'default'
              }
            ],
        },

        title: "最近一年文章浏览统计",
        type: 'bar', // or 'bar', 'line', 'pie', 'percentage'
        height: 200,
        colors: ['#fd8754'],

        axisOptions: {
            xIsSeries: true,   //default:false
            xAxisMode: "tick",
        },

        lineOptions: {
            hideDots: 0,   //default:0
            regionFill: 1, // default: 0
            heatline: 1, // default: 0
            dotSize: 6, // default: 4
        },

        tooltipOptions: {
          formatTooltipX: d => (d + '').toUpperCase(),
          formatTooltipY: d => d,
        }
    });

    /*]]>*/
</script>

<script th:if="${showLatestPublishedAtChart}" th:inline="javascript">
    /*<![CDATA[*/

    let publishChart = new frappe.Chart( "#publish-charts", { // or DOM element
        data: {
            labels: /*[[${yearlyPublishDataLabels}]]*/ 'default',

            datasets: [
              {
                name: "篇文章", chartType: 'line',
                values: /*[[${yearlyPublishDataValues}]]*/ 'default'
              }
            ],
        },

        title: "最近一年文章收录统计",
        type: 'bar', // or 'bar', 'line', 'pie', 'percentage'
        height: 200,
        colors: ['#cc6cf6'],

        axisOptions: {
            xIsSeries: true,   //default:false
            xAxisMode: "tick",
        },

        lineOptions: {
            hideDots: 0,   //default:0
            regionFill: 1, // default: 0
            heatline: 1, // default: 0
            dotSize: 6, // default: 4
        },

        tooltipOptions: {
          formatTooltipX: d => (d + '').toUpperCase(),
          formatTooltipY: d => d,
        }
    });

    /*]]>*/
</script>

<script th:if="${showLatestInitiatedChart}" th:inline="javascript">
    /*<![CDATA[*/

    let initiatedChart = new frappe.Chart( "#initiated-charts", { // or DOM element
        data: {
            labels: /*[[${yearlyInitiatedDataLabels}]]*/ 'default',

            datasets: [
              {
                name: "次助力", chartType: 'line',
                values: /*[[${yearlyInitiatedDataValues}]]*/ 'default'
              }
            ],
        },

        title: "最近一年星球穿梭助力统计",
        type: 'bar', // or 'bar', 'line', 'pie', 'percentage'
        height: 200,
        colors: ['#4299f5'],

        axisOptions: {
            xIsSeries: true,   //default:false
            xAxisMode: "tick",
        },

        lineOptions: {
            hideDots: 0,   //default:0
            regionFill: 1, // default: 0
            heatline: 1, // default: 0
            dotSize: 6, // default: 4
        },

        tooltipOptions: {
          formatTooltipX: d => (d + '').toUpperCase(),
          formatTooltipY: d => d,
        }
    });

    /*]]>*/
</script>

</body>
</html>