<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('「' + ${postInfo.title} + '」的摘要信息 - 博友圈 · 博客人的朋友圈！', '博文, 摘要', '「' + ${postInfo.title} + '」的摘要信息')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <article class="abstract post-entry">
        <header class="notice" th:unless="${blogInfo.statusOk}">
            <p style="color: #cb2e58;">* 原始文章地址可能暂时无法访问，仅展示文章的摘要信息</p>
        </header>
        <header class="entry-header">
            <h4>「<a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(postInfo.link)}"><strong th:text="${postInfo.title}"></strong></a>」的摘要信息</h4>
        </header>
        <div class="entry-content">
            <p th:text="${postInfo.description}"></p>
        </div>
        <div class="source-site-go">
            <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(postInfo.link)}"><h4>[阅读原文]</h4></a>
        </div>
        <footer class="entry-footer">
            <div class="flex-item">
                <a th:href="'/blogs/' + ${postInfo.blogDomainName}">
                    <img th:src="${postInfo.blogAdminMediumImageURL}"/>
                </a>
            </div>
            <div class="flex-item">
                <a th:text="${postInfo.blogName}" th:href="'/blogs/' + ${postInfo.blogDomainName}"></a>
            </div>
            <div class="flex-item">
                · <span th:text="${@thymeLeafTemplateHelper.dateFriendlyDisplay(postInfo.publishedAt)}"></span>
            </div>
            <div class="flex-item">
                · <span th:text="${postInfo.linkAccessCount}"></span>次浏览
            </div>
        </footer>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/special_thanks::special_thanks}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/websocket/stompjs@7.0.0/stomp.umd.min.js}"></script>
<script th:src="@{/assets/js/websocket/websocket.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>
