<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('发现一篇有意思的文章：「' + ${postInfo.title} + '」 - 博友圈 · 博客人的朋友圈！', '博文, 分享', '分享文章：「' + ${postInfo.title} + '」')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <article class="share post-entry">
        <header class="entry-header sharing">
            <h4>我在博友圈发现一篇有意思的文章：「<strong th:text="${postInfo.title}"></strong>」，快点击阅读原文看看吧！</h4>
        </header>
        <div class="entry-content">
            <p th:text="${postInfo.description}"></p>
        </div>
        <div class="source-site-go">
            <a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(postInfo.link)}"><h4>[阅读原文]</h4></a>
        </div>
        <footer class="entry-footer">
            <div class="flex-item">
                <a th:href="'/blogs/' + ${postInfo.blogDomainName}">
                    <img th:src="${postInfo.blogAdminMediumImageURL}"/>
                </a>
            </div>
            <div class="flex-item">
                <a th:text="${postInfo.blogName}" th:href="'/blogs/' + ${postInfo.blogDomainName}"></a>
            </div>
            <div class="flex-item">
                · <span th:text="${@thymeLeafTemplateHelper.dateFriendlyDisplay(postInfo.publishedAt)}"></span>
            </div>
            <div class="flex-item">
                · <span th:text="${postInfo.linkAccessCount}"></span>次浏览
            </div>
        </footer>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/blog_summary::blog_summary(${totalBlogs}, ${totalBlogPosts}, ${accessTotal})}"></div>
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>
