<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('登录 - 管理页面 - 博友圈 · 博客人的朋友圈！', '登录', '管理页面登录。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h3 class="post-title" style="color: red;">
            登录 - 管理页面
        </h3>
    </header>
    <div class="login-form">
        <form th:action="@{/admin/login}" th:object="${adminLoginForm}" method="post">
            <div class="login-form-container">
                <div class="key-value-entry">
                    <div class="label">
                        <span>账号</span> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />
                    </div>
                    <div class="field">
                        <input name="username" th:field="*{username}" />
                    </div>
                </div>
                <div class="key-value-entry">
                    <div class="label">
                        <span>密码</span> <p style="margin-left: 20px; color: red; font-size: 14px" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />
                    </div>
                    <div class="field">
                        <input type="password" name="password" th:field="*{password}" />
                    </div>
                </div>

                <div class="key-value-entry">
                    <input type="submit" value="登录"/>
                </div>
            </div>
        </form>
    </div>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/contact::contact}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>