<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户登录 - 博友圈</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/user/login-action}" method="post">
    <div>
        <label>邮箱：</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>密码：</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="提交"/>
    </div>
</form>
</body>
</html>
