<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('v1.1 版本说明 - 博友圈 · 博客人的朋友圈！', '博友圈, 版本说明, v1.1', '博友圈 v1.1 版本说明。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h1 class="post-title">
            v1.1 版本说明
        </h1>
        <div class="post-publish-date">
            <p>2023年7月9日  <a href="https://leileiluoluo.com/">磊磊落落</a></p>
        </div>
    </header>
    <article class="post-single">
        <div class="post-content">
            <p>博友圈于 2023 年 7 月 9 日发布了 v1.1 版本！该版本主要增加了博客广场页面，此外还在首页增加了文章搜索功能。</p>
            <h4>1 功能说明</h4>
                <p>该版本增加了一个新的页面——博客广场，主要用于展示所收录的全部博客，支持按域名或博客名搜索。</p>
                <p>博客广场的详细功能特性如下：</p>
                <p>
                    <ul>
                        <li>按最近更新时间分页展示博客条目；</li>
                        <li>每个博客条目的信息包括博主头像、博客名称、博客描述、文章收录数、文章浏览数、最近更新时间，以及最新的 3 篇文章；</li>
                        <li>支持按域名或博客名搜索博客。</li>
                    </ul>
                </p>
                <p>此外，该版本还在首页增加了文章搜索功能（目前仅支持按文章标题搜索）。</p>
            <h4>2 页面截图</h4>
            <p>博客广场页</p>
            <p><img border="1" th:src="@{/assets/images/sites/release_notes/v1.1/blog-list-page.png}"></p>
            <p>首页</p>
            <p><img border="1" th:src="@{/assets/images/sites/release_notes/v1.1/home-page.png}"></p>
        </div>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/contact::contact}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>