<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout::layout}">
<body>
<div class="email-container">
    <main layout:fragment="content">
        <h1>恭喜您</h1>
        <p>您的博客文章「<a th:href="'https://www.boyouquan.com/go?from=email&link=' + ${post.link}" th:text="${post.title}"></a>」刚刚被博友圈置顶到了「<a href="https://www.boyouquan.com/home">首页推荐</a>」！</p>
        <br/>
        <p>博客收录地址：<a th:text="'https://www.boyouquan.com/blogs/' + ${blog.domainName}" th:href="'https://www.boyouquan.com/blogs/' + ${blog.domainName}"></a></p>
    </main>
</div>
</body>
</html>
