<div th:fragment="blog_summary(totalBlogs, totalBlogPosts, accessTotal)" class="footer-summary">
    <div class="flex-item">
        <p>收录博客</p><a style="color: #cb2e58; margin: 0 2px 0 2px;" th:text="${totalBlogs}"></a><p>个</p>
    </div>
    <div class="flex-item">
        <p>收录文章</p><a style="color: #cb2e58; margin: 0 2px 0 2px;" th:text="${totalBlogPosts}"></a><p>篇</p>
    </div>
    <div class="flex-item">
        <p>浏览文章</p><a style="color: #cb2e58; margin: 0 2px 0 2px;" th:text="${accessTotal}"></a><p>次</p>
    </div>
</div>