<footer th:fragment="footer_site_info" class="footer">
    <div style="margin-bottom: 14px;">
    <span><a href="/sponsor">赞助本站</a></span> |
    <span><a href="/release-notes">发布历史</a></span> |
    <span><a href="/about">关于本站</a></span> |
    <span><a href="/thanks">感谢名单</a></span> |
    <span><a href="/similar-sites">同类网站</a></span>
    </div>
    <span style="font-size: 12px;">本站使用 <a href="https://github.com/leileiluoluo/boyouquan">Boyouquan</a> 开源程序创建，使用 <a href="https://activity.huaweicloud.com/cps.html?fromacct=a80358af-7774-4af6-b063-ae209dab8266&utm_source=b2x6aHlvbHpoeQ===&utm_medium=cps&utm_campaign=201905">华为云</a> 提供服务！</span>
    <br/>
    <span style="font-size: 12px"><a href="https://beian.miit.gov.cn/">辽ICP备2022012085号-2</a></span>
    <br/>
    <span style="font-size: 12px">Copyright © 2023-2024 <a href="https://www.boyouquan.com/home">博友圈</a></span>
</footer>
