<article th:fragment="home-info" class="first-entry home-info" xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org">
    <header class="entry-header">
        <h1>博友圈 · 博客人的朋友圈！</h1>
    </header>
    <div class="entry-content">
        <p></p>
        <ul>
            <li>
                <strong
                >欢迎来到博友圈，这里是独立博客人的专属朋友圈！在这里可以发布您的独立博客，获取一个免费的流量入口，也可以与志同道合的博主交朋友，还可以获取海量的博客更新和博主动态！</strong
                >
            </li>
        </ul>
        <p></p>
    </div>
</article>