<main th:fragment="main(pagination)" class="main">
    <article th:replace="~{fragments/header/header_info::header_info('欢迎来到博友圈，这里是独立博客人的专属朋友圈！在这里可以发布您的独立博客，获取一个免费的流量入口，也可以发现更多优质的独立博客，还可以一站式获取海量博客更新和博主动态！')}"></article>
    <div th:if="${hasLatestNews}" th:replace="~{fragments/header/latest_news::latest_news(${latestNews}, ${latestNewsCount})}"></div>
    <div id="searchbox">
        <input id="searchInput" autofocus="" placeholder="搜索文章 ↵" aria-label="search" type="search" autocomplete="off">
    </div>
    <article th:each="blogPost, iterstat: ${pagination.results}" class="post-entry">
        <header class="entry-header">
            <a th:href="'/go?link=' + ${@thymeLeafTemplateHelper.urlEncode(blogPost.link)}"><h3 th:text="${blogPost.title}"></h3></a>
        </header>
        <div class="entry-content">
            <p th:text="${blogPost.description}"></p>
        </div>
        <footer class="entry-footer">
            <div class="flex-item">
                <a th:href="'/blog?keyword=' + ${@thymeLeafTemplateHelper.getDomain(blogPost.blogAddress)}">
                    <img th:src="${@thymeLeafTemplateHelper.getBlogAdminImageURLByAddress(blogPost.blogAddress)}"/>
                </a>
            </div>
            <div class="flex-item">
                <a th:text="${blogPost.blogName}" th:href="'/blog?keyword=' + ${@thymeLeafTemplateHelper.getDomain(blogPost.blogAddress)}"></a>
            </div>
            <div class="flex-item">
                · <span th:text="${@thymeLeafTemplateHelper.dateFriendlyDisplay(blogPost.createdAt)}"></span>
            </div>
            <div class="flex-item">
                · <span th:text="${@thymeLeafTemplateHelper.countBlogAccessByLink(blogPost.link)}"></span>次浏览
            </div>
        </footer>
    </article>
    <footer class="page-footer">
        <!-- if hasKeyword -->
        <nav th:if="${hasKeyword}" class="pagination">
            <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/home/page/' + ${pagination.pageNo - 1} + '?keyword=' + ${keyword}">« 上一页</a>
            <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/home/page/' + ${pagination.pageNo + 1} + '?keyword=' + ${keyword}">下一页 »</a>
        </nav>
        <!-- else -->
        <nav th:unless="${hasKeyword}" class="pagination">
            <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/home/page/' + ${pagination.pageNo - 1}">« 上一页</a>
            <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/home/page/' + ${pagination.pageNo + 1}">下一页 »</a>
        </nav>
    </footer>
</main>