<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('关于本站 - 博友圈 · 博客人的朋友圈！', '关于本站', '博友圈网站介绍。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h1 class="post-title">
            关于本站
        </h1>
        <div class="post-publish-date">
            <p>2023年7月10日 <a href="https://leileiluoluo.com/">磊磊落落</a></p>
        </div>
    </header>
    <article class="post-single">
        <div class="post-content">
            <p>您好，欢迎来到博友圈！</p>

            <h4 id="建站初衷">建站初衷</h4>
            <p>在这个快消的年代，还有多少人仍在坚持更新与关注独立博客？当你躺在床上，一段段短视频刷过后，它们会在你的记忆中留下什么？我这个从 Web 时代过来的「老网民」还是觉得 Web 时代诞生的独立博客相对来说内容更有价值，对我们的思想与生活也更有助益一些。这并不是媒介不同所引起的，而是写独立博客需要更长时间的思考与沉淀，所以内容也就相对更有深度一些。</p>
            <p>博友圈的建站初衷即源于对独立博客坚守者的敬佩，秉持「不能让好的独立博客无人问津，更不能让它们在时光的长河中就此消亡」。博友圈致力于建立一个博客人的专属朋友圈，提供一个免费的平台，让各个领域的优质独立博客博主连接起来，让博主间有一个可以发现彼此、关注彼此、助力彼此的共同圈子。</p>

            <h4 id="提交博客">提交博客</h4>
            <p>若您想推荐自己或者他人的博客被本站收录，可以通过发送邮件与我联系！（需提供 RSS 地址、博客描述和博主邮箱）</p>
            <p>若您不想自己的博客被收录，也可以联系我进行删除！</p>
            <ul>
                <li>邮箱地址：<a href="mailto:contact@boyouquan.com?subject=申请博客收录&body=RSS地址：%0d%0a博客描述：%0d%0a博主邮箱：%0d%0a">contact@boyouquan.com</a></li>
            </ul>

            <h4 id="添加链接">添加链接</h4>
            <p>您可以本着自愿的原则，将本站链接添加到您博客的适当位置，以让更多的博客人发现我们这个小众的圈子！</p>
            <ul>
                <li>站名：博友圈</li>
                <li>网址：<a href="https://www.boyouquan.com/">https://www.boyouquan.com/</a></li>
                <li>描述：博客人的朋友圈！</li>
                <li>星球穿梭页：<a href="https://www.boyouquan.com/planet-shuttle">https://www.boyouquan.com/planet-shuttle</a></li>
                <li>各尺寸站标如下，请自取！</li>
                <a th:href="@{/assets/images/sites/logo/logo-small.png}"><img width="43.5px" th:src="@{/assets/images/sites/logo/logo-small.png}"/></a>
                <a th:href="@{/assets/images/sites/logo/logo-medium.png}"><img width="113px" th:src="@{/assets/images/sites/logo/logo-medium.png}"/></a>
                <a th:href="@{/assets/images/sites/logo/logo-large.png}"><img width="291px" th:src="@{/assets/images/sites/logo/logo-large.png}"/></a>
                <a th:href="@{/assets/images/sites/logo/planet-shuttle.png}"><img width="412px" th:src="@{/assets/images/sites/logo/planet-shuttle.png}"/></a>
            </ul>

            <h4 id="代码开源">代码开源</h4>
            <p>本站使用 Spring Boot + Thymeleaf + MyBatis 实现，程序源码已在 GitHub 开源，欢迎编码爱好者添加关注！</p>
            <ul>
                <li>GitHub 地址：<a href="https://github.com/olzhy/boyouquan">github.com/olzhy/boyouquan</a></li>
            </ul>

            <p>最后，愿独立博客可以走的更远！</p>
        </div>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/contact::contact}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>