<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('关于本站 - 博友圈 · 博客人的朋友圈！', '关于本站', '博友圈网站介绍。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h1 class="post-title">
            关于本站
        </h1>
    </header>
    <article class="post-single">
        <div class="post-content">
            <p>您好，欢迎来到博友圈！</p>
            <p>博友圈成立于 2023 年 7 月，旨在打造一个独立博客人专属的朋友圈！</p>

            <h3 id="site-origin">建站初衷</h3>
            <p>博友圈的建站初衷源于对独立博客坚守者的敬佩，秉持「不能让好的独立博客无人问津，更不能让它们在时光的长河中就此消亡」。博友圈致力于建立一个博客人的专属朋友圈，提供一个免费的平台，让各个领域的优质独立博客博主连接起来，让博主间有一个可以发现彼此、关注彼此、助力彼此的共同圈子。</p>

            <h3 id="submit-blog">提交博客</h3>
            <p>若您想申请自己的博客被本站收录，请先确认您的博客满足如下要求：</p>
            <ul>
                <li>基础要求：仅限个人独立博客；</li>
                <li>内容要求：内容健康，且满足我国法律法规要求；</li>
                <li>原创要求：原创文章数占总文章数比例不少于 80%；</li>
                <li>站龄要求：建站已有一年或以上；</li>
                <li>RSS 要求：拥有可以访问的 RSS 地址（如：<a href="https://www.boyouquan.com/feed.xml">https://www.boyouquan.com/feed.xml</a>）；</li>
                <li>个人承诺：十年不停更，十年不闭站！</li>
            </ul>
            <p>确认满足如上要求并承诺十年不闭站后，可以通过点击导航栏「<a href="https://www.boyouquan.com/blog-requests/add">提交博客</a>」按钮来填写申请表单，提交后一般在 24 小时内会得到审核，审核通过或未通过都会收到邮件提醒。</p>

            <p>除了自行提交自己拥有的博客外，您还可以通过发送邮件来「<a href="mailto:contact@boyouquan.com?subject=博客推荐&body=地址：%0d%0a">推荐别人的博客</a>」，若满足要求，我们会对其进行后台收录。</p>
            <p>若您不想自己的博客被博友圈收录，也可以联系我们进行删除！</p>

            <h3 id="add-link">添加链接</h3>
            <p>希望您在收到博客通过审核的邮件通知后，将博友圈链接添加到您博客的适当位置，以让更多的博客人发现我们这个圈子！</p>

            <ul>
                <li>站名：博友圈</li>
                <li>网址：<a href="https://www.boyouquan.com/home">https://www.boyouquan.com/home</a></li>
                <li>描述：博客人的朋友圈，博客收录与文章 RSS 聚合网站。</li>
                <li>星球穿梭页：<a href="https://www.boyouquan.com/planet-shuttle">https://www.boyouquan.com/planet-shuttle</a></li>
                <li>素材：各尺寸的亮色与暗色 Logo 如下，请按需自取！</li>
            </ul>

            <table style="display: table; table-layout: fixed;">
                <tbody>
                <tr>
                    <td>120px * 120px</td>
                    <td><a th:href="@{/assets/images/sites/logo/logo-small.png}"><img width="40px" th:src="@{/assets/images/sites/logo/logo-small.png}"/></a></td>
                    <td><a th:href="@{/assets/images/sites/logo/logo-small-dark.png}"><img width="40px" th:src="@{/assets/images/sites/logo/logo-small-dark.png}"/></a></td>
                </tr>
                <tr>
                    <td>180px * 80px</td>
                    <td><a th:href="@{/assets/images/sites/logo/logo-medium.png}"><img width="90px" th:src="@{/assets/images/sites/logo/logo-medium.png}"/></a></td>
                    <td><a th:href="@{/assets/images/sites/logo/logo-medium-dark.png}"><img width="90px" th:src="@{/assets/images/sites/logo/logo-medium-dark.png}"/></a></td>
                </tr>
                <tr>
                    <td>280px * 60px</td>
                    <td><a th:href="@{/assets/images/sites/logo/planet-shuttle.png}"><img width="140px" th:src="@{/assets/images/sites/logo/planet-shuttle.png}"/></a></td>
                    <td><a th:href="@{/assets/images/sites/logo/planet-shuttle-dark.png}"><img width="140px" th:src="@{/assets/images/sites/logo/planet-shuttle-dark.png}"/></a></td>
                </tr>
                </tbody>
            </table>

            <h3 id="data-spider">数据采集</h3>
            <p>为了在本站聚合展示最新博文，本站会对已收录的博客定时进行数据采集，采集 URL 为博客的 RSS 地址，采集频率为 2 小时 1 次（一天 12 次），相信这样的频率不会对您的服务器造成多大的压力。</p>
            <p>标识请求来源为本站的 HTTP<code>User-Agent</code>信息如下：</p>
            <pre><code>Mozilla/5.0 (compatible; Boyouquanspider/1.0; +https://www.boyouquan.com/about#data-spider)</code></pre>
            <p>若您不经意在服务器日志中发现了许多带有这些请求头的请求，请放心予以放行！</p>

            <h3 id="site-theme">网站主题</h3>
            <p>博友圈在开源的「<a href="https://github.com/adityatelange/hugo-PaperMod">Hugo PaperMod</a>」主题之上作了大量的修改，从而构建了适用于本站的前端样式。在此感谢该主题的作者，并且特此声明：该主题的原始版权归 Hugo PaperMod 所有。</p>

            <h3 id="subscribe-feed">文章订阅</h3>
            <p>除了使用浏览器访问本站外，有一些朋友可能仍保留着使用订阅软件来阅读文章的习惯，本站特为这些用户开发了文章 RSS 订阅服务，订阅地址如下。</p>
            <ul>
                <li>推荐文章 RSS 订阅地址：<a href="https://www.boyouquan.com/feed.xml?sort=recommended">https://www.boyouquan.com/feed.xml?sort=recommended</a></li>
            </ul>
            <ul>
                <li>最新文章 RSS 订阅地址：<a href="https://www.boyouquan.com/feed.xml?sort=latest">https://www.boyouquan.com/feed.xml?sort=latest</a></li>
            </ul>

            <h3 id="open-source">代码开源</h3>
            <p>本站主要使用 Java 语言编写，使用了 Spring Boot + Thymeleaf + MyBatis 技术，源码已在 GitHub 开源，欢迎编码爱好者添加关注！您也可以完全自由的使用该开源代码搭建另一个「博友圈」，要求仅有一条，就是在您的网站底部标注一句话「本站使用博友圈（www.boyouquan.com）开源程序创建」。</p>
            <p>此外，您若想了解博友圈的技术架构，请参阅站长的「<a href="https://leileiluoluo.com/posts/boyouquan-introduction.html">这篇博客文章</a>」。</p>
            <ul>
                <li>GitHub 地址：<a href="https://github.com/leileiluoluo/boyouquan">github.com/leileiluoluo/boyouquan</a></li>
            </ul>

            <h3 id="contact-admin">联系站长</h3>
            <p>若您有关于本站的任何问题，请使用如下方式与我们联系！</p>
            <ul>
                <li>邮箱地址：<a href="mailto:contact@boyouquan.com">contact@boyouquan.com</a></li>
            </ul>

            <br/>
            <p>最后，愿独立博客可以走得更远！</p>
        </div>
    </article>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/special_thanks::special_thanks}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div><div th:replace="~{fragments/footer/special_thanks::special_thanks}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/websocket/stompjs@7.0.0/stomp.umd.min.js}"></script>
<script th:src="@{/assets/js/websocket/websocket.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>
