<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head/head::head('推荐文章管理 - 管理页面 - 博友圈 · 博客人的朋友圈！', '推荐文章管理', '推荐文章管理。')}"></head>
<body class="list" id="top">
<script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
<header th:replace="~{fragments/header/header::header}"></header>
<main class="main">
    <header class="post-header">
        <h3 class="post-title" style="color: red;">
            推荐文章管理 - 管理页面
        </h3>
    </header>
    <div class="blog-requests">
        <div class="requests-header">
            <h4 style="color: red;"><a href="/admin/blog-requests">博客审核列表 - 管理页面</a></h4>
            <h4 style="color: red;"><a href="/admin/recommended-posts/add">推荐文章 - 管理页面</a></h4>
            <div style="display: flex; font-size: 14px;">
                <p th:text="${user.username}"></p>
                <p><a href="/admin/logout"> 退出登录</a></p>
            </div>
        </div>
        <div class="requests-container">
            <table>
                <thead>
                <tr>
                    <td><span>文章标题</span></td>
                    <td><span>博客名称</span></td>
                    <td><span>发布时间</span></td>
                    <td><span>操作</span></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="postInfo, iterstat: ${pagination.results}">
                    <td><a th:href="'/go?from=website&link=' + ${@thymeLeafTemplateHelper.urlEncode(postInfo.link)}" th:text="${postInfo.title}"></a></td>
                    <td><a th:text="${postInfo.blogName}" th:href="'/blogs/' + ${postInfo.blogDomainName}"></a></td>
                    <td>
                        <p th:text="${@thymeLeafTemplateHelper.dateHourCommonFormatDisplay(postInfo.publishedAt)}"></p>
                    </td>
                    <td>
                        <a th:if="${postInfo.pinned}" style="color: red;" th:href="'/admin/recommended-posts/unpin?link=' + ${postInfo.link}">取消置顶</a>
                        <a th:unless="${postInfo.pinned}" style="color: green;" th:href="'/admin/recommended-posts/pin?link=' + ${postInfo.link}">置顶</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="page-footer blog-footer">
        <nav class="pagination">
            <a class="pre" th:if="${pagination.pageNo} > 1"
               th:href="'/admin/recommended-posts/page/' + ${pagination.pageNo - 1}">« 上一页</a>
            <a class="next" th:if="${pagination.hasNextPage()}"
               th:href="'/admin/recommended-posts/page/' + ${pagination.pageNo + 1}">下一页 »</a>
        </nav>
    </footer>
</main>
<footer class="footer-block">
    <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    <div th:replace="~{fragments/footer/notice::notice}"></div>
</footer>
<footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
<div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
<script th:src="@{/assets/js/highlight-menu.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
<script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
</body>
</html>