<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.BlogAccessDaoMapper">
    <select id="countByLink" resultType="java.lang.Long">
        SELECT
        count(1)
        FROM blog_access
        WHERE link=#{link}
    </select>
    <insert id="save">
        INSERT INTO blog_access (
        link,
        ip,
        accessed_at
        ) VALUES (
        #{link},
        #{ip},
        now()
        )
    </insert>
</mapper>