<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyouquan.dao.BlogDaoMapper">
    <sql id="insert_columns">
        domain_name,
        admin_email,
        name,
        address,
        rss_address,
        description,
        self_submitted,
        collected_at,
        updated_at,
        valid,
        draft,
        deleted
    </sql>
    <sql id="select_columns">
        domain_name as domainName,
        admin_email as adminEmail,
        name,
        address,
        rss_address as rssAddress,
        description,
        self_submitted as selfSubmitted,
        collected_at as collectedAt,
        updated_at as updatedAt,
        valid,
        draft,
        deleted
    </sql>
    <select id="listByRandom" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE draft=false
        AND deleted=false
        <if test="excludedDomainNames != null and excludedDomainNames.size() > 0">
            AND domain_name NOT IN
            <foreach collection="excludedDomainNames" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY RAND() LIMIT #{limit}
    </select>
    <select id="countAll" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM blog
        WHERE draft=false
        AND deleted=false
    </select>
    <select id="listAll" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE draft=false
        AND deleted=false
    </select>
    <select id="listRecentCollected" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE draft=false
        AND deleted=false
        ORDER BY collected_at DESC
        LIMIT #{limit}
    </select>
    <select id="countWithKeyword" resultType="java.lang.Long">
        SELECT
        COUNT(*)
        FROM blog
        WHERE draft=false
        AND deleted=false
        <if test="keyword != null and keyword !=''">
            AND
            (
            name LIKE CONCAT('%', #{keyword}, '%')
            OR address LIKE CONCAT('%', #{keyword}, '%')
            )
        </if>
    </select>
    <select id="listWithKeyWord" resultType="com.boyouquan.model.Blog">
        <choose>
            <when test="sort == null or sort == 'access_count'">
                SELECT
                <include refid="select_columns"/>
                FROM blog b
                LEFT JOIN (
                    SELECT blog_domain_name, sum(amount) as count
                    FROM access
                    GROUP BY blog_domain_name
                ) a
                ON b.domain_name=a.blog_domain_name
                WHERE b.draft=false
                AND b.deleted=false
                <if test="keyword != null and keyword != ''">
                    AND
                    (
                    b.name LIKE CONCAT('%', #{keyword}, '%')
                    OR b.address LIKE CONCAT('%', #{keyword}, '%')
                    )
                </if>
                ORDER BY a.count DESC
                LIMIT #{offset}, #{rows}
            </when>
            <otherwise>
                SELECT
                <include refid="select_columns"/>
                FROM blog
                WHERE draft=false
                AND deleted=false
                <if test="keyword != null and keyword != ''">
                    AND
                    (
                    name LIKE CONCAT('%', #{keyword}, '%')
                    OR address LIKE CONCAT('%', #{keyword}, '%')
                    )
                </if>
                ORDER BY collected_at DESC
                LIMIT #{offset}, #{rows}
            </otherwise>
        </choose>
    </select>
    <select id="existsByDomainName" resultType="boolean">
        SELECT
        EXISTS (
        SELECT 1 FROM blog WHERE domain_name=#{domainName}
        )
    </select>
    <select id="existsByRssAddress" resultType="boolean">
        SELECT
        EXISTS (
        SELECT 1 FROM blog WHERE rss_address=#{rssAddress}
        )
    </select>
    <select id="getByDomainName" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE draft=false
        AND deleted=false
        AND domain_name=#{domainName}
    </select>
    <select id="getByAddress" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE address=#{address}
    </select>
    <select id="getByRSSAddress" resultType="com.boyouquan.model.Blog">
        SELECT
        <include refid="select_columns"/>
        FROM blog
        WHERE rss_address=#{rssAddress}
    </select>
    <insert id="save">
        INSERT INTO blog (
        <include refid="insert_columns"/>
        ) VALUES (
        #{domainName},
        #{adminEmail},
        #{name},
        #{address},
        #{rssAddress},
        #{description},
        #{selfSubmitted},
        #{collectedAt},
        #{updatedAt},
        true,
        #{draft},
        false
        )
    </insert>
    <update id="update">
        UPDATE blog
        SET
        admin_email=#{adminEmail},
        name=#{name},
        address=#{address},
        rss_address=#{rssAddress},
        description=#{description},
        self_submitted=#{selfSubmitted},
        updated_at=now(),
        valid=#{valid},
        draft=#{draft}
        WHERE domain_name=#{domainName}
    </update>
    <delete id="deleteByDomainName">
        DELETE
        FROM blog
        WHERE domain_name=#{domainName}
    </delete>
</mapper>