<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head/head::head('博客广场 - 博友圈 · 博客人的朋友圈！', '博客广场, 博客列表', '展示博友圈所收录的全部博客。')}"></head>
    <body class="list" id="top">
    <script th:src="@{/assets/js/theme-settings.js}" type="text/javascript"></script>
    <header th:replace="~{fragments/header/header::header}"></header>
    <main class="main">
        <article th:replace="~{fragments/header/header_info::header_info('这里是博客广场，截止目前共收录' + ${totalBlogs} + '个博客，按最近更新时间排序展示，搜一搜您的博客在不在里边吧，如果没有的话就快来提交吧！')}"></article>
        <div id="searchbox">
            <input id="searchInput" autofocus="" placeholder="搜索博客 ↵" aria-label="search" type="search" autocomplete="off">
        </div>
        <div class="blog-container">
            <article th:each="blogInfo, iterstat: ${pagination.results}" class="blog-entry">
                <header class="icon-and-title">
                    <div class="flex-item">
                        <a th:href="'/go?link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}">
                            <img th:src="${@thymeLeafTemplateHelper.getBlogAdminImageURLByAddress(blogInfo.address)}"/>
                        </a>
                    </div>
                    <div class="flex-item">
                        <a th:href="'/go?link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}"><h2 th:text="${blogInfo.name}"></h2></a>
                    </div>
                </header>
                <div class="domain">
                    <div class="flex-item">
                        <a th:text="${blogInfo.getDomain()}" th:href="'/go?link=' + ${@thymeLeafTemplateHelper.urlEncode(blogInfo.address)}"></a>
                    </div>
                    <div class="flex-item">
                        <p th:text="'收录于 ' + ${blogInfo.createdAt}"></p>
                    </div>
                </div>
                <div class="description">
                    <p th:text="${blogInfo.description}"></p>
                </div>
                <footer class="summary">
                    <div class="flex-item left">
                        <p style="font-size: 16px; color: var(--secondary);">文章收录</p>
                        <p th:text="${blogInfo.postsCount}"></p>
                    </div>
                    <div class="flex-item center">
                        <p style="font-size: 16px; color: var(--secondary);">文章浏览</p>
                        <p th:text="${blogInfo.accessCount}"></p>
                    </div>
                    <div class="flex-item right">
                        <p style="font-size: 16px; color: var(--secondary);">最近更新</p>
                        <p th:text="${@thymeLeafTemplateHelper.dateFriendlyDisplay(blogInfo.latestUpdatedAt)}"></p>
                    </div>
                </footer>
                <footer class="latest-posts">
                    <p style="font-size: 16px;">最新文章</p>
                    <p th:each="blogPost, iterstat: ${blogInfo.latestPosts}">
                        <text style="margin-right: 6px;" th:text="${@thymeLeafTemplateHelper.dateCommonFormatDisplay(blogPost.createdAt)}"></text>
                        <a th:text="${blogPost.title}" th:href="'/go?link=' + ${@thymeLeafTemplateHelper.urlEncode(blogPost.link)}"></a>
                    </p>
                </footer>
            </article>
        </div>
        <footer class="page-footer blog-footer">
            <!-- if hasKeyword -->
            <nav th:if="${hasKeyword}" class="pagination">
                <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/blog/page/' + ${pagination.pageNo - 1} + '?keyword=' + ${keyword}">« 上一页</a>
                <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/blog/page/' + ${pagination.pageNo + 1} + '?keyword=' + ${keyword}">下一页 »</a>
            </nav>

            <!-- else -->
            <nav th:unless="${hasKeyword}" class="pagination">
                <a class="pre" th:if="${pagination.pageNo} > 1" th:href="'/blog/page/' + ${pagination.pageNo - 1}">« 上一页</a>
                <a class="next" th:if="${pagination.hasNextPage()}" th:href="'/blog/page/' + ${pagination.pageNo + 1}">下一页 »</a>
            </nav>
        </footer>
    </main>
    <footer class="footer-block">
        <div th:replace="~{fragments/footer/blog_summary::blog_summary(${totalBlogs}, ${totalBlogPosts}, ${accessTotal})}"></div>
        <div th:replace="~{fragments/footer/contact::contact}"></div>
        <div th:replace="~{fragments/footer/shuttle::shuttle}"></div>
    </footer>
    <footer th:replace="~{fragments/footer/footer_site_info::footer_site_info}"></footer>
    <div th:insert="~{fragments/plugin/go_to_top::go_to_top}"></div>
    <script th:src="@{/assets/js/scroll.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/theme-listener.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/to-top.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/blog-search.js}" type="text/javascript"></script>
    <script th:src="@{/assets/js/tongji.js}" type="text/javascript"></script>
    </body>
</html>
